<%- include("../includes/header.ejs", {title:"Textbooks"}); %>
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/"> Home </a> / Textbooks
</nav>
<h1>Textbooks</h1>

<br />

<table border="1">
    <tr><th>Title</th><th>Edition</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/textbook/?textbook_id=<%= result[i].textbook_id %>"><%= result[i].title %></a></td>
        <td><%=result[i].edition%></td>
    </tr>
    <% } %>
</table>

</br>

<button onclick="event.preventDefault();window.location.href='/'"><< Back</button>

<%- include("../includes/footer.ejs"); %>