<%- include("../includes/header.ejs", {title:"Student - " + result[0].id_number}); %>
<h1>Students</h1>
<ul>
    <li>Name: <%= result[0].first_name + ' ' + result[0].last_name %></li>
    <li>Email: <%= result[0].first_name + ' ' + result[0].last_name %></li>
    <li>ISBN: <%= result[0].ISBN %></li>
    <li>Prices:
        <table border="1">
            <tr><th>Vendor</th><th>Website</th><th>Price</th><th>Shipping</th></tr>
            <% for(var i=0; vendor.length > i; i++ ) { %>
            <tr>
                <td><a href="/vendor/?vendor_id=<%= vendor[i].vendor_id %>"><%= vendor[i].vendor_name %></a></td>
                <td><%=vendor[i].website%></td>
                <td><%=vendor[i].price%></td>
                <td><%=vendor[i].shipping%></td>
            </tr>
            <% } %>
        </table>
    </li>
</ul>
<a href="/textbook/all"><< back</a>

<%- include("../includes/footer.ejs"); %>