<%- include("../includes/header.ejs", {title:"Courses"}); %>
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/"> Home </a> / Courses
</nav>
<h1>Courses</h1>

<br />

<table border="1">
    <tr><th>Course Name</th><th>Course Number</th><th>Instructor</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/course/?course_id=<%= result[i].course_id %>"><%= result[i].class_name %></a></td>
        <td><%=result[i].class_number%></td>
        <td><%=result[i].instructor%></td>
    </tr>
    <% } %>
</table>
</br>

<button onclick="event.preventDefault();window.location.href='/'"><< Back</button>
<%- include("../includes/footer.ejs"); %>