<%- include("../includes/header.ejs", {title:"Course - View All"}); %>

<h1>Courses</h1>
<a href="/Course/add">Add A New Course</a> <br />

<br />

<table border="1">
    <tr><th>Course Name</th><th>Course Number</th><th>Instructor</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/course/?course_id=<%= result[i].course_id %>"><%= result[i].class_name %></a></td>
        <td><%=result[i].class_number%></td>
        <td><%=result[i].instructor%></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>